# BACKEND
SECRET_KEY = secret
DEBUG = True
ALLOWED_HOSTS = localhost, 127.0.0.1
CORS_ALLOWED_ORIGINS = http://localhost:3000, http://127.0.0.1:3000
CORS_ALLOW_METHODS = GET, POST, PUT, DELETE, PATCH
ADMIN_URL = admin/



# FRONTEND
NEXT_PUBLIC_API_BASE_URL = http://localhost:8000/api